@import 'settings';
@import '../../../bower_components/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;

html,body{
   margin: 0;
   padding: 0;
   color: black !important;
   font-family: "pageFont" !important;
   letter-spacing: .1em;
   -webkit-font-smoothing: auto;
}
.div-mainContainer{
  margin-left: 4.7em;
  margin-right: 4.7em;
  margin-top: 3em;
  margin-bottom: 1em;
}


.header{
  width: 100%;
  height: 60px !important;
  /*margin-top: -300px;*/
  /*visibility: hidden;*/
  /*display: none;*/
  position: relative;
  /*display: none;*/
  /*top: 0px;*/

  &.animate {
    animation-duration: 0.8s;
    animation-name: header-slide;
  }

}

  @keyframes header-slide {
    from {
      margin-top: -100px;
    }

    to {
      margin-top: 0px;
      /*display: block;*/
    }
  }

h1.heading{
  font-family: "pageFont" !important;
  margin: 0px;
  font-size: 3em !important;
  font-weight: bold;
  line-height: 1.4;
  position: relative;
  display:inline-block;
  @include breakpoint(small only) {
     font-size: 5.5em !important;
  }
  
}
h1.heading:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid black;
  transition: 0.4s;
}
h1.heading:hover:after {
  width: 100%;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.row{
  max-width: 100%;
}

@font-face {
  font-family: "pageFont";
  src: url(../fonts/BebasNeueLight.ttf) format("truetype");
}
@font-face {
  font-family: "contentFont";
  src: url(../fonts/EncodeSansCompressed-Thin.ttf) format("truetype");
}
.contentBio{
  font-family: "contentFont" !important;
  font-size: 1.2em;
  word-spacing: .2em;
}
.contentContact{
  font-family: "contentFont" !important;
  font-size: 1.2em;
  word-spacing: .2em;
}

#footerText {
 font-family: "pageFont" !important;
 text-align: center;
 bottom: 0;            /* to stick it to the bottom of the page*/
 width: 100%;          /* to stick it to the bottom of the page*/
}

#initialImage{
  width:100%;
  display: none;
}

#div-imageModal{
  outline-style: none;
  width: 75%;
  min-height: 0;    /*to handle the modal height in small devices*/
  top:6% !important;
  padding: 0 !important;
  border: 2px solid white !important;
  height: inherit;    /* overrride the properties of foundation to adjust the height of modal for small devices*/
  margin-left: auto;  /* overrride the properties of foundation to adjust the height of modal for small devices*/
}

.navigation{
  float: right;
  padding-top: 0.6em;
}
ul.navBar{
  display: inline-block;
  float:right;
}

li.navList{
  list-style: none;
  display: inline;
}
.anchor-heading{
  color: black !important;
}
.navIcons{
  color: black !important;
  text-decoration: none;
  position: relative;
  font-size: 1.9em;
  margin-right: 1em;
}

.navIcons:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 1px solid black;
  transition: 0.4s;
}
.navIcons:hover:after {
  width: 100%;
}

.socialIcons{
  color: black !important;
  text-decoration: none;
  padding-right: .5em;
}

.imageContainer{
  margin-top: 4em;
  margin-bottom:1em;
  /*visibility: hidden;*/
  transition: opacity 1s ease-in;
  /*opacity: 0;*/
}

.imageStyle {
  transition: opacity 1s ease-in;
  opacity: 0;
}

.animate {
  /*animation-name: fadein;
  animation-duration: 0.5s;*/
  //opacity:1;
}

.div-subContainer{
  margin-top: 4em;
  margin-bottom:1em;
  visibility: hidden;
}
.img{
  height: 15em;
  width: 16em;
  padding: .4em;
}
.imageRowDiv{
  text-align: center;
}
.columns {
  padding-bottom: 0.9375rem;
  padding-right: 0;

}

.imageStyle {
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}
.contactPage{
  padding-top:3em;
}
.contactContent{
  font-size:1.6em;
  word-spacing: .2em;
}

.bar {
  font-size: 2.3em;
  font-weight: lighter;
  color:black !important;
  float: right;
}

.facebook{
  font-size: 1.6em;
}

.instagram{
  font-size: 1.85em;
}

.behance{
  font-size: 1.8em;
}

.devianart{
  font-size: 1.5em;
}
i {
  margin-right:0 !important;
}
